* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
transition: all .4s ease-in;
}
html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	background-color: #3399CC;
	border: 10px solid #2B81AC;
	color: #fff;
	font: 200 16px “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
}

header, main, footer {
	margin: 0;
	padding: 30px 0;
	text-align: center
;
	
}
ul, li {
	display: inline-block;
	box-sizing: border-box;
	
}
ul {
	width: 75%;
	background-color: white;
	text-align: center;
	font-size: 16px;
}
li {padding: 30px 10px;
	border: 3px solid #fff;
	text-align: center;
	font-size: 16px;
	}
p {
	opacity: .5;
	
padding: 10px;}

.Lisbon {background-color: #3399cc;
width: 50%;
}
.Paris {background-color: #33cccc;
width: 25%;}
.Belgrade {background-color: #996699;
width: 25%;}
.Moscow {background-color: #c24747;
width: 25%;}
.TA {background-color: #e2674a;
width: 25%;}
.Cair {background-color: #ffcc66;
width: 25%;}
.NY {background-color: #99cc99;
width: 25%;}
.ND {background-color: #669999;
width: 25%;}
.SF {background-color: #cc6699;
width: 50%;}
.Tokyo {background-color: #339966;
	width: 25%;}
.Sydney {background-color: #666699;
width: 100%;}